{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<h1 >main mai text box aur submit button banana hai</h1>
<p>aur usko cloud database ke sath connect karne ka try karna hai </p>
{{end}}